@{
    ViewData["Title"] = "About me";
}
<h1>@ViewData["Title"]</h1>



<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Maarten Havermans</h2>
        <p class="lead">
                Hallo ik ben Maarten Havermans ik ben 22 jaar en dit is mijn website. deze website is gemaakt voor games to kopen en ook consoles. je kan de games in een winkelmand doen en die worden bewaard.
            Je kan wel enkel in de winkelwagen toevoegen als je een account hebt gemaakt
        </p>
    </div>
</div>


<hr class=" featurette-divide />